<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Password=sasa;Persist Security Info=True;User ID=sa;Initial Catalog=MeetingProject;Data Source=.;Max Pool Size=512;MultipleActiveResultSets=True;"/>
  </connectionStrings>

  <appSettings>
    <!--日志配置文件路径-->
    <add key="log4net" value="\\log4net_local.config" />
    <!--翻页-->
    <add key="pagesize" value="8"/>
    <add key="saveUrl" value="http://198.162.1.120/Upload/Upload/"/>
    <add key="downUrl" value="http://198.162.1.120/Resource/"/>
    <!--PC服务器存取资源-->
    <add key="pcurl" value="H:\Resource\"/>
  </appSettings>
</configuration>