<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Password=sasa;Persist Security Info=True;User ID=sa;Initial Catalog=MeetingProject;Data Source=192.168.21.148;Max Pool Size=512;MultipleActiveResultSets=True;"/>
  </connectionStrings>

  <appSettings>
    <!--日志配置文件路径-->
    <add key="log4net" value="\\log4net_local.config" />
    <!--翻页-->
    <add key="pagesize" value="3"/>
    <add key="saveUrl" value="http://192.168.21.148/Upload/Upload/"/>
    <add key="downUrl" value="http://192.168.21.148/Resource/"/>
    <add key="pcurl" value="D:\Resource\"/>
  </appSettings>
</configuration>