@model Meeting.Web.Mvc.ModelsView.ErrorModelView
@{
   
}
<!DOCTYPE html>
<html>
<head>
    <title>异常显示</title>
</head>
<body>
    <h4>@Model.Url</h4>
    <h5>@Model.Message</h5>
</body>
</html>
