@using Meeting.Entity.Pager
@using Meeting.Entity
@model List<mMeeting>
@{
    
}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>主界面</title>
    <style type="text/css">
    </style>

</head>

<body>
    @Html.Partial("~/Views/Shared/_Style.cshtml")

    <div class="home">
        <!--home-top-->
        <div class="home-top">

            <div class="home-top-lan">
                <ul>
                    <li class="home-li-font">
                        检委会会议系统  (终端版)
                    </li>
                    <li class="home-ul-li">
                        <div class="home-li-button">退出登录</div>
                    </li>
                    <li class="home-ul-li">
                        <div class="home-li-button">个人信息</div>
                    </li>
                </ul>
            </div>

            <div class="home-top-bottom">
                <div class="home-bottom-buttondef" onclick="startMeeting()" id="startMeeting"  onmouseover="mouseoverMeeting(1)">已安排会议</div>
                <div class="home-bottom-button" onclick="endMeeting()" id="endMeeting" onmouseover="mouseoverMeeting(2)">已结束会议</div>
                <div class="home-bottom-button" onclick="createMeeting()" id="createMeeting"  onmouseover="mouseoverMeeting(3)">+创建会议</div>
            </div>
        </div>
        <!--/home-top-->
        <div id="home-main">
            @Html.Partial("~/Views/Home/Table.cshtml", Model)
        </div>

            
        </div>

    <script type="text/javascript">
        var ClickPageUrl = '@Url.Action("Index", "Home", new { PageType  = "1" })';
        $(document).ready(function () {
            mouseoverMeeting(1);
        })
    </script>

</body>
</html>