<html lang="en">
<head>
    <meta charset="utf-8">
    <title>检委会会议系统</title>
    <link href="~/css/main.css" rel="stylesheet" />
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
</head>

<body>
    <div class="loginCenter">

        <div class="loginCenter-top">
            检委会会议系统(文书终端版)
        </div>

        <div class="loginCenter-main">
            <ul class="main-ul">
                <li class="ul-li-name">用户名</li>
                <li class="ul-li-input">
                    <input type="text" class="li-input" placeholder="请输入用户名" id="username">
                </li>
            </ul>
            <ul>
                <li class="ul-li-name">密码</li>
                <li class="ul-li-input">
                    <input type="password" class="li-input" placeholder="请输入密码" id="userpass">
                </li>
            </ul>
            <ul>
                <li class="ul-li-button">
                    <div class="li-button-div" id="userlogin" onclick="Login()">登 录</div>
                </li>
            </ul>
        </div>
    </div>

</body>
</html>