@using Meeting.Web.Api.Models
@{
    TitleViewModel titleModel = ViewBag.TitleViewModel;
}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@titleModel.Title</title>
    <style type="text/css">
    </style>
    <link href="~/css/main.css" rel="stylesheet" />
</head>
<body>
    <div class="home">
        @Html.Partial("~/Views/Shared/_Top.cshtml", titleModel)

        @RenderBody()

    </div>
</body>
</html>