@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="layou-info-top">
    <font class="layou-info-font">文本材料</font>
</div>

<ul class="material-ul">
    <li class="material-ul-li">
        <div class="material-li-img">
            <img src="~/Images/word-icon.png" />
        </div>
        材料: 议题详情b2016
    </li>
    <li class="material-ul-li">
        <div class="material-li-img">
            <img src="~/Images/word-icon.png" />
        </div>
        材料: 议题详情b2016
    </li>
    <li class="material-ul-li">
        <div class="material-li-img">
            <img src="~/Images/word-icon.png" />
        </div>
        材料: 议题详情b2016
    </li>

    <li class="material-ul-li">
        <div class="material-li-img">
            <img src="~/Images/word-icon.png" />
        </div>
        材料: 议题详情b2016
    </li>

    <li class="material-ul-li">
        <div class="material-li-img">
            <img src="~/Images/word-icon.png" />
        </div>
        材料: 议题详情b2016
    </li>

    <li class="material-ul-li">
        <div class="material-li-img">
            <img src="~/Images/word-icon.png" />
        </div>
        材料: 议题详情b2016
    </li>

    <li class="material-ul-li">
        <div class="material-li-img">
            <img src="~/Images/word-icon.png" />
        </div>
        材料: 议题详情b2016
    </li>
</ul>


<div class="layou-info-top">
    <font class="layou-info-font">多媒体材料</font>
</div>

<ul class="material-ul">
    <li class="material-ul-li">
        <div class="material-li-img">
            <img src="~/Images/media-icon.jpg" />
        </div>
        材料: b20160305b0098
    </li>
    <li class="material-ul-li">
        <div class="material-li-img">
            <img src="~/Images/media-icon.jpg" />
        </div>
        材料: b20160305b0098
    </li>
    <li class="material-ul-li">
        <div class="material-li-img">
            <img src="~/Images/jpg-icon.gif" />
        </div>
        材料: b20160305b0098
    </li>

    <li class="material-ul-li">
        <div class="material-li-img">
            <img src="~/Images/media-icon.jpg" />
        </div>
        材料: b20160305b0098
    </li>

    <li class="material-ul-li">
        <div class="material-li-img">
            <img src="~/Images/jpg-icon.gif" />
        </div>
        材料: b20160305b0098
    </li>

    <li class="material-ul-li">
        <div class="material-li-img">
            <img src="~/Images/media-icon.jpg" />
        </div>
        材料: b20160305b0098
    </li>

    <li class="material-ul-li">
        <div class="material-li-img">
            <img src="~/Images/media-icon.jpg" />
        </div>
        材料: b20160305b0098
    </li>
</ul>